<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @booking.movie_id %>
</p>

<p>
  <strong>Seat number:</strong>
  <%= @booking.seat_number %>
</p>

<p>
  <strong>Time slots:</strong>
  <%= @booking.time_slots %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
