<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Cinema Alert", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Cinemas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Movies</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="#">Your book seat</a>
          </li>
          <li class="nav-item">
            <%= fa_icon "user" %>
            <%= link_to current_user.full_name, edit_user_registration_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger logout-button" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "LOGIN", new_user_session_path, class: "nav-link btn btn-primary" %>
          </li>
          <li class="nav-item">
            <%= link_to "REGISTER", new_user_registration_path, class: "nav-link btn btn-warning" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>